body {
    font-family: 'Hind', sans-serif;
}

#logo {
    width: 500px;
    max-width: 100%;
    margin: 40px 0;
}

#bg {
    width: 100%;
}

ul.nav.navbar-nav {
    margin: 0;
}

.navbar-collapse {
    padding: 0;
}

nav ul li a {
    text-transform: uppercase;
}

nav.navbar-default {
    background: transparent;
}

nav #navbar ul li a {
    padding: 15px 20px;
}

nav #navbar ul li.active a,
nav #navbar ul li.active a:hover {
    background-color: #58598a;
    color: white;
}

nav #navbar ul li a:hover {
    background-color: #eee;
}

#welcome {
    background-color: #58598a;
    color: white;
    padding: 0;
    font-size: 14px;
}

#welcome .description {
    padding-top: 60px;
    padding-bottom: 60px;
}

#welcome .abstract {
    padding-top: 40px;
    padding-bottom: 40px;
}

#get-ra {
    margin: 50px 0 0 0;
}

.btn-ra:hover {
    background: white;
    color: #58598a;
}

h1 {
    margin-bottom: 30px;
}

#features {
    padding: 30px 0;
}

#features-carousel {
    border-radius: 5px;
    overflow: hidden;
}

#features .item {
    height: 350px;
    padding: 3% 10%;
    color: white;
    font-size: 14px;
    background-position: 0;
    background-repeat: no-repeat;
    background-size: auto 100%;
    overflow: hidden;
}

#features .item h2 {
    font-size: 18px;
    margin-bottom: 18px;
    padding-bottom: 5px;
    border-bottom: solid 1px white;
}

.btn-ra {
    background: rgba(255, 255, 255, 0.2);
    border-color: white;
    border-width: 2px;
    color: white;
    margin: 18px 0;
}

#features .item.interface {
    background-color: #336480;
}

#features .item.cross-platform {
    background-color: #996eab;
}

#features .item.customizable {
    background-color: #33454f;
}

#features .item.joypad-autoconfig {
    background-color: #6c6db0;
}

#features .item.shaders {
    background-color: #aeae8f;
}

#features .item.achievements {
    background-color: #736994;
}

#features .item.netplay {
    background-color: #216161;
}

@media (min-width: 768px) {
    #features .item.interface {
        background-image: url(images/interface.png);
    }

    #features .item.cross-platform {
        background-image: url(images/cross-platform.png);
    }

    #features .item.customizable {
        background-image: url(images/customizable.jpg);
    }

    #features .item.joypad-autoconfig {
        background-image: url(images/joypad-autoconfig.jpg);
    }

    #features .item.shaders {
        background-image: url(images/shaders.png);
    }
    
    #features .item.achievements {
        background-image: url(images/achievements.png);
    }

    #features .item.netplay {
        background-image: url(images/netplay.png);
    }
}

@media (min-width: 992px) {
    #welcome {
        font-size: 16px;
    }

    #features .item {
        height: 400px;
        font-size: 16px;
    }

    #features .item h2 {
        font-size: 22px;
        margin-bottom: 22px;
    }

    .btn-ra {
        margin: 22px 0;
    }
}

@media (min-width: 1200px) {
    #welcome {
        font-size: 20px;
    }

    #features .item {
        height: 475px;
        font-size: 20px;
    }

    #features .item h2 {
        font-size: 30px;
        margin-bottom: 30px;
    }

    .btn-ra {
        margin: 30px 0;
    }
}

article {
    font-size: 16px;
    margin-bottom: 30px;
}

article .metadata {
    border-top: solid 2px #58598a;
    padding: 10px 0;
    margin: 15px 0;
    font-size: 14px;
    color: #888;
}

article .btn-more {
    border: 2px solid #58598a;
    color: #58598a;
}

article .btn-more:hover {
    background-color: #58598a;
    color: white;
}

#tutorial {
    background: #eee;
}

.video {
    margin-bottom: 30px;
}

footer {
    background-color: #111;
    padding: 20px;
}

footer h4 {
    font-weight: bold;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer li a {
    display: block;
    padding: 5px;
    color: #ccc;
}

footer li a:hover {
    background: #222;
    color: #ddd;
    text-decoration: none;
}

footer .social a {
    display: inline-block;
    background: #222;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: #ccc;
    text-align: center;
    font-size: 20px;
}

footer .social a:hover {
    background-color: #333;
    color: #ddd;
}

.doc {
    font-size: 16px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.doc img {
    max-width: 100%;
}

.doc pre {
    background: #111;
    color: white;
    font-size: 16px;
    max-height: 250px;
}


.platform {
    background: #eee;
    border-radius: 3px;
    margin-top: 30px;
}

.platform img {
    width: 100%;
}

.platform h4 {
    font-weight: bold;
    text-align: center;
}

.platform a {
    display: block;
    padding: 5px 10px;
    border-top: 1px solid #ddd;
}
